.DS_Store
dep.*
dep_*
__dep_*
node_modules/
package.json
package-lock.json
*.sublime-workspace
scripts/.venv
local.env
notebooks/.env
notebooks/.venv
notebooks/template.env
notebooks/.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/notebooks/.env
.ipynb_checkpoints/notebooks/template.env
local/